/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

img {
  object-fit: cover;
}

/* Auth */
@import url("./styles/auth/auth.css");

/* Loading */
@import url("./styles/loading/loading.css");

/* Header */
@import url("./styles/header/header.css");
