/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap_main {
  width: 100%;
  position: relative;
}

.main {
  max-width: 90%;
  min-height: calc(100vh - 70px);

  background-color: #fff;
  margin: 0 auto;
  padding-top: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}
a:visited {
  color: #555;
}

img {
  object-fit: cover;
}

/* Auth */
@import url("./styles/auth/auth.css");

/* Header */
@import url("./styles/header/header.css");

/* Alert */
@import url("./styles/alert/toast.css");
@import url("./styles/alert/loading.css");

/* Profile */
@import url("./styles/profile/profile.css");
@import url("./styles/profile/infor.css");
@import url("./styles/profile/editprofile.css");
@import url("./styles/profile/follow/follow-btn.css");
@import url("./styles/profile/follow/follow.css");
@import url("./styles/profile/post_thumb.css");

/* Avatar */
@import url("./styles/avatar/avatar.css");

/* Overlay */
@import url("./styles/overlay/overlay.css");

/* Home */
@import url("./styles/home/home.css");
@import url("./styles/home/status.css");
@import url("./styles/home/status_modal.css");
@import url("./styles/home/posts.css");
@import url("./styles/home/post_card/card_header.css");
@import url("./styles/home/post_card/card_body.css");
@import url("./styles/home/post_card/card_footer.css");
@import url("./styles/home/post_card/carousel.css");

@import url("./styles/home/comment_card/comment_card.css");
@import url("./styles/home/comment_card/input_comment.css");

/* Load */
@import url("./styles/load/load_icon.css");
@import url("./styles/load/load_more_btn.css");
