.card_footer {
  color: rgba(74, 78, 105, 0.8);
  margin-bottom: 15px;

  &-icon {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 2.4rem;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &-count {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      vertical-align: middle;
    }
  }
}
