.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
}

.card_header-left {
  width: 100%;
  height: 100%;
}

.card_header-left div {
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

.card_header-right {
  position: relative;
}

.card_header-right i {
  cursor: pointer;
}

.card_header-right .dropdown-post {
  border: 1px solid #f1f1f1;
  font-size: 1.4rem;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  min-width: 140px;
  position: absolute;
  right: 0;
  z-index: 20;
}

.card_header-right .dropdown-post-item {
  padding: 8px 10px;
}

.card_header-right .dropdown-post-item i {
  margin-right: 4px;
}

.card_header-right .dropdown-post-item:hover {
  background-color: #f1f1f1;
}
