.card_header {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  color: #555;
}

.card_header-left {
  width: fit-content;
  height: fit-content;
}

.card_header-left div {
  display: inline-block;
}

.card_header-right {
  position: relative;
}

.card_header-right .dropdown-post {
  background-color: #f1f1f1;
  border-radius: 4px;
  min-width: 140px;
  position: absolute;
  right: 0;
}

.card_header-right .dropdown-post-item {
  padding: 8px 10px;
}
