.card_footer {
  color: rgba(74, 78, 105, 0.8);
  &-icon {
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;

    .fa-heart,
    .fa-comment,
    .fa-paper-plane {
      margin-right: 10px;
    }
  }

  &-count {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      vertical-align: middle;
    }
  }
}
