.input-comment {
  display: block;
  width: 100%;
  position: relative;
  background-color: #e8f0f2;
  border-radius: 20px;
}

.input-comment .form-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-comment .form-comment .icons {
  display: inline-block;
  position: absolute;
  right: 40px;
  z-index: 1;
}

.input-comment .form-comment .icons__modal {
  top: -76px;
}

.input-comment .form-comment input {
  width: 85%;
  background-color: #e8f0f2;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
}

.input-comment .form-comment button {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  font-size: 1.6rem;
  background-color: #e8f0f2;
  right: 0px;
  color: #555;
  position: absolute;
  cursor: pointer;
  outline: none;
  transition: transform 100ms ease;
}

.input-comment .form-comment button:hover {
  transform: scale(1.05, 1.05);
}
