.avatar {
  position: relative;

  &-container {
    width: fit-content;
    border-radius: 50%;
    box-shadow: 1px 1px 24px #eee;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-img {
    border-radius: 50%;
    &--big {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }
    &--medium {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
    &--small {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    &--very-small {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }

  &-edit {
    background-color: rgba(32, 44, 80, 0.5);
    width: 100%;
    height: 35%;
    color: #ffe268;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 100ms ease-in-out;

    &_container {
      text-align: center;
      width: fit-content;

      label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(10px);
      }

      input {
        display: none;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
