.follow-btn {
  font-size: 1.6rem;
  width: 120px;
  padding: 4px 20px;
  border-radius: 16px;
  outline: none;
  border: 1px solid;
  transition: transform 100ms ease-in;
  background-color: transparent;
}

.follow-btn:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.follow-btn--true {
  color: #555;
  border-color: #f8f5f1;
  background-color: rgba(248, 245, 241, 0.8);
}

.follow-btn--false {
  color: #126e82;
  border-color: #82ccdd;
  background-color: rgba(130, 204, 221, 0.6);
}
