.follow {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  min-width: 450px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
  & > * {
    display: inline-block;
  }

  &_header {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;

    &-title {
      font-size: 1.6rem;
      color: #555;
    }

    &-btn {
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 1.6rem;
      color: #555;
      transition: transform 100ms ease;

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  &_body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    min-height: 80px;

    &-item {
      width: 120px;
      .card-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    & > div {
      margin: 0 10px;
    }
  }
}
