.notify {
  display: inline-block;
  position: absolute;
  right: 12px;
  width: 420px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 1px 1px 12px #ccc;
  font-size: 1.4rem;
  overflow: hidden;
}

.notify_header {
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.notify_header i {
  cursor: pointer;
}

.notify_body-content {
  display: grid;
  grid-template-columns: [col1-start] 50px [col1-end col2-start] auto [col2-end];
  padding: 10px;
}

.notify_body-content:hover {
  background-color: #f1f1f1;
}

.notify_body-content-text {
  grid-column-start: [col2-start];
  grid-column-end: [col2-end];
  align-self: center;
  letter-spacing: 0.2px;
  display: inline-block;
}

.notify_body-content-text h4 {
  display: inline-block;
}

.notify_body-content small {
  grid-column-start: col1-start;
  grid-column-end: col2-end;
}

.notify_footer {
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.notify_footer:hover {
  background-color: #f1f1f1;
}
