.notify {
  display: inline-block;
  position: absolute;
  right: 12px;
  width: 420px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 1px 1px 12px #ccc;
  font-size: 1.4rem;
  overflow-y: auto;
  max-height: calc(80vh - 80px);

  &_header {
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    i {
      cursor: pointer;
    }
  }

  &_body {
    height: 300px;
    overflow-y: auto;

    &-content {
      display: grid;
      grid-template-columns: [col1-start] 50px [col1-end col2-start ] auto [col2-end];
      padding: 10px;

      &:hover {
        background-color: #f1f1f1;
      }

      &-text {
        grid-column-start: [col2-start];
        grid-column-end: [col2-end];
        align-self: center;
        letter-spacing: 0.2px;
        display: inline-block;

        h4 {
          display: inline-block;
        }
      }

      small {
        grid-column-start: col1-start;
        grid-column-end: col2-end;
      }
    }
  }

  &_footer {
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #ccc;
    padding: 10px;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}
