.status_modal {
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  min-width: 480px;
  top: 0;
  z-index: 100;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-form {
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    padding: 20px 10px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.4rem;
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 12px;
      padding-bottom: 4px;
      color: #555;

      i {
        cursor: pointer;
        font-size: 1.6rem;

        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }

    &-body {
      margin-bottom: 10px;

      textarea {
        width: 100%;
        resize: none;
        outline: none;
        border: 1px solid #f1f1f1;
        height: 100px;
        border-radius: 20px;
        padding: 10px;

        &::placeholder {
          color: #aaa;
        }
        &:focus {
          background: #fafafa;
        }
      }

      .upload {
        font-size: 3.2rem;
        color: #555;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &-camera {
          margin-right: 12px;
        }

        &-image {
          position: relative;
          overflow: hidden;
          transform: translateY(3px);

          i {
          }
          input {
            cursor: pointer;
            position: absolute;
            top: -20px;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
          }
        }
      }
    }

    &-footer {
      button {
        cursor: pointer;
        color: #555;
        width: 100%;
        padding: 8px 0;
        outline: none;
        border: 1px solid #f1f1f1;
        background-color: #fafafa;
        border-radius: 4px;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
