.status_modal {
  display: inline-block;
  position: sticky;
  background-color: #fff;
  border-radius: 20px;
  width: 480px;
  top: 15%;
  z-index: 100;

  &-form {
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    padding: 20px 10px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.4rem;
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 12px;
      padding-bottom: 4px;
      color: #555;

      i {
        cursor: pointer;
        font-size: 1.6rem;

        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }

    &-body {
      margin-bottom: 10px;
      max-height: 400px;
      overflow-y: auto;

      textarea {
        width: 100%;
        resize: none;
        outline: none;
        border: 1px solid #f1f1f1;
        height: 100px;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;

        &::placeholder {
          color: #aaa;
        }
        &:focus {
          background: #fafafa;
        }
      }

      .show_images {
        max-height: 250px;
        width: 100%;
        display: grid;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 10px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 4px;

        &-box {
          border: 1px solid #f1f1f1;
          position: relative;
          width: 100%;
          height: 100%;

          img,
          video {
            display: block;
            object-fit: cover;
            width: 100%;
          }

          span {
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            padding: 2px 4px;
            color: rgba(220, 20, 60, 0.8);
            position: absolute;
            top: 2px;
            right: 2px;
            font-size: 1.2rem;

            &:hover {
              transform: scale(1.08, 1.08);
            }
          }
        }
      }

      .upload {
        font-size: 3.2rem;
        color: #555;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &-camera {
          margin-right: 12px;
        }

        &-image {
          position: relative;
          overflow: hidden;
          transform: translateY(3px);

          input {
            cursor: pointer;
            position: absolute;
            top: -20px;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
          }
        }
      }
    }

    &-footer {
      button {
        cursor: pointer;
        color: #555;
        width: 100%;
        padding: 8px 0;
        outline: none;
        border: 1px solid #f1f1f1;
        background-color: #fafafa;
        border-radius: 4px;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
