.edit-profile {
  position: absolute;
  padding: 12px;
  background-color: #fff;
  flex-direction: column;
  border-radius: 4px;
  min-width: 400px;
  z-index: 99;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;

    &-title {
      color: rgb(74, 78, 105);
      font-size: 2.4rem;
      font-weight: 600;
    }

    &-btn {
      font-size: 1.6rem;
      padding: 8px 15px;
      background: transparent;
      outline: none;
      border: none;
      border-radius: 50%;
      color: #555;
      background-color: #e5e5e5;
      cursor: pointer;
      transition: transform 100ms ease-in-out;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  &_form {
    &-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-row {
      display: flex;
      flex-direction: column;
      height: auto;

      label {
        font-size: 1.6rem;
        color: #555;
        margin-right: 5px;
      }

      input,
      textarea {
        outline: none;
        font-size: 1.4rem;
        padding: 4px 0;
        border: 1px solid #ccc;
        text-indent: 4px;
      }

      textarea {
        resize: none;
      }
    }
    &-col {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        font-size: 1.6rem;
        color: #555;
        margin-right: 5px;
      }

      input {
        width: 100px;
        outline: none;
        font-size: 1.4rem;
        padding: 4px 0;
        border: 1px solid #ccc;
        text-indent: 4px;
      }
    }

    &-save {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #ccc;
      color: #eee;
      background-color: rgba(74, 78, 105, 0.8);
      transition: background-color 100ms ease;

      &:hover {
        background-color: #4a4e69;
      }
    }

    & > div {
      margin-bottom: 20px;
    }
  }
}
