.infor {
  width: 100%;
  min-height: 300px;
  font-size: 1.6rem;
  color: #555;
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin: auto;

    &-avatar {
      width: 160px;
      height: auto;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &-content {
      & > * {
        margin-bottom: 20px;
      }
      &-title {
        font-size: 2.4rem;
      }

      &-btn {
        min-width: 120px;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 4px 12px;
        background: transparent;
        border: 1px solid #907fa4;
        color: #555;
        border-radius: 2px;
        outline: none;
        background-color: rgba(223, 238, 234, 0.8);
        transition: all 100ms ease-in;
        &:hover {
          border: 1px solid #2f5d62;
          color: #293b5f;
          background-color: #dfeeea;
        }
      }

      &-follow {
        color: #5bc0de;
        text-transform: uppercase;
        letter-spacing: 1px;
        & > span {
          margin-right: 20px;
        }
      }
    }
  }
}
