.post_thumb {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 10px;
  overflow: hidden;
  margin: 15px 0;

  &_display {
    min-width: 300px;
    height: 300px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img,
    video {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    &:hover &_menu {
      opacity: 1;
    }

    &_menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0008;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.2s;
      opacity: 0;

      i {
        font-size: 2rem;
        margin: 0 12px;
        color: #f1f1f1;
      }
    }
  }
}
